In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

np.random.seed(42)
scores = np.random.randint(50, 101,(50,5))
df1:DataFrame = pd.DataFrame(scores,
             index=[f'學號{i}' for i in range(1,51)],
             columns=["國文","英文","數學","歷史","生物"])
df1

       國文   英文   數學  歷史   生物
學號1    88   78   64  92   57
學號2    70   88   68  72   60
學號3    60   73   85  89   73
學號4    52   71   51  73   93
學號5    79   87   51  70   82
學號6    61   71   93  74   98
學號7    76   91   77  65   64
學號8    96  100   93  52   86
學號9   100   56   70  58   88
學號10   67   53   74  63   99
學號11   58   75   51  69   77
學號12   96   56   93  57   96
學號13   84   63   66  85   99
學號14   89   53   51  55   91
學號15   53   78   67  75   93
學號16   83   59   85  63   80
學號17   97   64   57  63   72
學號18   89   70   65  94   67
學號19   96   73   75  74   94
學號20   90   78   64  94   50
學號21   74   56   58  73   50
學號22   93   57   73  60  100
學號23   66   57   84  84   82
學號24   54   91   88  90   77
學號25   56   58   57  61   83
學號26   82   97   72  73   86
學號27   84   93   89  71   76
學號28   84   50   84  86   96
學號29   63   52   50  54   75
學號30   63   88   76  58   64
學號31   64   75   91  62  100
學號32   81   88   98  81   53
學號33   79   86   72  88   94
學號34   64   92   78  85   62
學號35   81   56  100  71   77
學號36   51   91   94  55   77
學號37   77   93   93  69   79
學號38   60   77   74  88   82
學號39   50   76   62  90   52
學號40   88   55   57  76   58
學號41   86   82  100  91   93
學號42   73   64   81  81   73
學號43   90   98   98  61   88
學號44   51   52   98  86   98
學號45   66   98   51  51   77
學號46   72   86   81  82   50
學號47   68   51   93  75   81
學號48   55   81   53  60   66
學號49   87   73   54  83   55
學號50   71   60   97  65   82

In [3]:
#選取1欄
df1['國文']
df1['英文']

學號1      78
學號2      88
學號3      73
學號4      71
學號5      87
學號6      71
學號7      91
學號8     100
學號9      56
學號10     53
學號11     75
學號12     56
學號13     63
學號14     53
學號15     78
學號16     59
學號17     64
學號18     70
學號19     73
學號20     78
學號21     56
學號22     57
學號23     57
學號24     91
學號25     58
學號26     97
學號27     93
學號28     50
學號29     52
學號30     88
學號31     75
學號32     88
學號33     86
學號34     92
學號35     56
學號36     91
學號37     93
學號38     77
學號39     76
學號40     55
學號41     82
學號42     64
學號43     98
學號44     52
學號45     98
學號46     86
學號47     51
學號48     81
學號49     73
學號50     60
Name: 英文, dtype: int64

In [4]:
#選取多欄
#df[list]

df1[['國文','英文']]

       國文   英文
學號1    88   78
學號2    70   88
學號3    60   73
學號4    52   71
學號5    79   87
學號6    61   71
學號7    76   91
學號8    96  100
學號9   100   56
學號10   67   53
學號11   58   75
學號12   96   56
學號13   84   63
學號14   89   53
學號15   53   78
學號16   83   59
學號17   97   64
學號18   89   70
學號19   96   73
學號20   90   78
學號21   74   56
學號22   93   57
學號23   66   57
學號24   54   91
學號25   56   58
學號26   82   97
學號27   84   93
學號28   84   50
學號29   63   52
學號30   63   88
學號31   64   75
學號32   81   88
學號33   79   86
學號34   64   92
學號35   81   56
學號36   51   91
學號37   77   93
學號38   60   77
學號39   50   76
學號40   88   55
學號41   86   82
學號42   73   64
學號43   90   98
學號44   51   52
學號45   66   98
學號46   72   86
學號47   68   51
學號48   55   81
學號49   87   73
學號50   71   60

列的選取

 - df.iloc
 - df.loc

In [5]:
###loc[]的選取

df1.loc['學號1']

國文    88
英文    78
數學    64
歷史    92
生物    57
Name: 學號1, dtype: int64

In [6]:
df1.loc[['學號1','學號25']]

      國文  英文  數學  歷史  生物
學號1   88  78  64  92  57
學號25  56  58  57  61  83

In [7]:
#iloc[]的選取
df1.iloc[0]

國文    88
英文    78
數學    64
歷史    92
生物    57
Name: 學號1, dtype: int64

In [8]:
df1.iloc[[0,24]]

      國文  英文  數學  歷史  生物
學號1   88  78  64  92  57
學號25  56  58  57  61  83

In [9]:
df1.iloc[:5]

     國文  英文  數學  歷史  生物
學號1  88  78  64  92  57
學號2  70  88  68  72  60
學號3  60  73  85  89  73
學號4  52  71  51  73  93
學號5  79  87  51  70  82

In [10]:
#iloc[列,欄],先選列,再選欄
df1.iloc[:5,[0,1,2]]

     國文  英文  數學
學號1  88  78  64
學號2  70  88  68
學號3  60  73  85
學號4  52  71  51
學號5  79  87  51

In [11]:
#iloc[列,欄],先選列,再選欄
df1.iloc[:5,:3]

     國文  英文  數學
學號1  88  78  64
學號2  70  88  68
學號3  60  73  85
學號4  52  71  51
學號5  79  87  51