In [4]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [6]:
stu1:Student = Student(name="robert",
                       chinese=98,
                       english=75,
                       math=69)

stu2:Student = Student(name="jenny",
                       chinese=87,
                       english=92,
                       math=75)

In [7]:
stu1.name, stu1.chinese, stu1.english, stu1.math #tuple

('robert', 98, 75, 69)

In [8]:
stu2.name, stu2.chinese, stu2.english, stu2.math

('jenny', 87, 92, 75)